SANITY_PROJECT_ID=
SANITY_DATASET=development
SANITY_API_VERSION=2026-03-29
SANITY_WRITE_TOKEN=
AUTH_ADMIN_EMAIL=
AUTH_ADMIN_PASSWORD=
AUTH_TOKEN_SECRET=
AUTH_INTEGRATION_TOKEN=
AUTH_SESSION_TTL_HOURS=24
